@CHARSET "ISO-8859-1";

table {
	width: 630px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table td {
	padding: 8px;
}

.td_left {
	width: 80px;
	vertical-align: top;
}

.td_right {
	
}

.td_info {	
	width: 200px;
	color: #666;
	font-size: 10px;
	vertical-align: top;
}

.td_button {
	border-top: 1px solid #e8e8e8;
}

.mini {	
	color: #666;
	font-size: 10px;
}

.correct {
	color: green;
	font-size: 10px;
}

.acorrect {
	color: red;
	font-size: 10px;
}