<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<http pattern="/guest/**" security="none" />
	<http pattern="/testing/start-testing" security="none" />

	<http pattern="/authorized/**" entry-point-ref="restAuthenticationEntryPoint"
		create-session="stateless">
		<csrf disabled="true" />
		<custom-filter position="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter" />
	</http>

	<http pattern="/testing/**" entry-point-ref="restAuthenticationEntryPoint"
		create-session="stateless">
		<csrf disabled="true" />
	</http>
	
	<context:annotation-config/>

	<beans:bean id="jwtAuthenticationFilter" class="main.java.security.JwtAuthenticationFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="authenticationSuccessHandler"
			ref="jwtAuthenticationSuccessHandler" />
		<beans:property name="authenticationFailureHandler"
			ref="jwtAuthenticationFailureHandler" />
	</beans:bean>
	
	<beans:bean id="jwtUserDetailsService" class="main.java.security.JwtUserDetailsService">
	</beans:bean>
	<beans:bean id="jwtAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="jwtUserDetailsService" />
	</beans:bean>
	<beans:bean id="jwtAuthenticationSuccessHandler"
		class="main.java.security.JwtAuthenticationSuccessHandler">
	</beans:bean>
	<beans:bean id="jwtAuthenticationFailureHandler"
		class="main.java.security.JwtAuthenticationFailureHandler">
	</beans:bean>
	<beans:bean id="restAuthenticationEntryPoint"
		class="main.java.security.RestAuthenticationEntryPoint">
	</beans:bean>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="jwtAuthenticationProvider" />
	</authentication-manager>
</beans:beans>