@CHARSET "ISO-8859-1";

a {
	font-size: 1.35em;
	color: blue;
}

a:HOVER {
	color: orange;
}

input:HOVER {
	background-color: silver;
}

p {
	color: blue;
	border-bottom: 0.01em solid black;
}

table {
	color: white;
	background-color: grey;
}

textarea:HOVER {
	background-color: silver;
}

.thFloatText {
	float: left;
}

.tdFloatContent {
	float: right;
}
body form input{
text-align: center;
}