@CHARSET "ISO-8859-1";

h2 {
	text-align: center;
}

.h2 {
	font-family: erdana, helvetica, arial, sans-serif;
	font-size: 25px;
	color: #610B38;
	font-weight: 400;
}

.homecontent {
	background-color: #fff;
	border: 1px solid #ffc0cb;
	margin: 5px;
	padding: 10px;
	width: 150px;
	border-radius: 10px;
}

.homespan {
	font: 21px times new roman;
	padding: 5px;
	float: right;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: red;
}

img {
	max-width: 100%;
	height: auto;
}
.firsthomecontent a {
	float: left;
}

.ipsForm_required {
	color: red;
}

.miscStyle, #popularLincs, .javaTech {
	display: none;
}

.formDiv {
	clear: both;
	float: right;
}

li {
	float: left;
	margin-right: 2em;
	border: 0.1em solid black;
	padding: 0.4em;
}