@CHARSET "ISO-8859-1";
.h2 {
	font-family: erdana, helvetica, arial, sans-serif;
	font-size: 25px;
	color: #610B38;
	font-weight: 400;
}
.homecontent {
	background-color: #fff;
	border: 1px solid #ffc0cb;
	margin: 5px;
	padding: 10px;
	width: 150px;
	border-radius: 10px
}
.homespan {
	font: 21px times new roman;
	padding: 5px;
	float: right;
}

a {
	color: green;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	color: red;
}
img {
	max-width: 100%;
	height: auto;
}
.gra1 {
	border: 1px solid #ffc0cb;
	border-radius: 10px;
	background: -webkit-linear-gradient(#FAFAE5, white);
	background: -o-linear-gradient(#FAFAE5, white);
	background: -moz-linear-gradient(#FAFAE5, white);
	background: linear-gradient(#FAFAE5, white);
	height: 11em;
}
.firsthomecontent a {
	float: left;
}