<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Connectors</display-name>
  <servlet>
    <servlet-name>company_service</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet
  </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>company_service</servlet-name>
    <url-pattern>*.service1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>personal_service</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet
  </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>personal_service</servlet-name>
    <url-pattern>*.service2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>maintenance_service</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet
  </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>maintenance_service</servlet-name>
    <url-pattern>*.service3</url-pattern>
  </servlet-mapping>
  <!-- <listener>
    <listener-class>
        org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/beans.xml</param-value>
  </context-param> -->
  
</web-app>