input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}

.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}
/*
* Datepicker element
*/
.datepicker.dropdown-menu {
width: 250px;
height: 270px;
button {
outline: none;
border: 0px;
}
tbody {
height: 180px;
}
tbody button {
padding: 6px;
}
&.datepicker-mode-1, &.datepicker-mode-2 {
tbody button {
height: 65px;
}
}