<form name="questionForm" novalidate ng-submit="getQuestion(answer.name);">
    <table>
        <tr>
            <td>
                <table>
                    <tr><th colspan="2"><label>Question&nbsp;</label>{{numberQuestion+1}}</th></tr>
                    <tr ng-show="mySwitchImage"><td colspan="2">{{text}}</td></tr>
                    <tr ng-show="mySwitchImage"><td colspan="2"><img ng-src="{{image}}" height="170" width="250" alt="Image is not supported"></td></tr>
                    <br><br>
                    <tr>
                        <td ng-repeat="n in answers"><p ng-show="mySwitchAmericanSystemTestQuestion">{{n}}<input type="radio" value={{n}} ng-model="answer.name">&nbsp;&nbsp;</p></td>
                    </tr>
                </table>
                <br><br>
        <table>
                    <tr>
                        <div ng-show="mySwitchCodeTestQuestion">                    
                        <label>Answer:</label>
                        <br>
                        <textarea ng-model="answer.name" cols="50" rows="10"></textarea>
                        </div>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br><br>
    <input type="submit" value="Send Answer" ng-show="answer.name"> <br><br>
</form>
