<form name="questionForm" novalidate ng-submit="getQuestion(answer.name);">
            <table>
                <tr><th colspan="2"><label>Question&nbsp;</label>{{numberQuestion+1}}</th></tr><br>
                <tr ng-show="mySwitchText"><td colspan="2">{{text}}</td></tr>
                <tr ng-show="mySwitchDescription"><td colspan="2">
                	<table ng-repeat="l in description">
                		<tr><td><PRE class="descriptionLines">{{l.line}}</PRE></td></tr>
                	</table>                
                </td></tr>
                <tr ng-show="mySwitchImage"><td colspan="2"><img ng-src="{{image}}" alt="Image is not supported"></td></tr>
            </table>
	<table ng-show="userAmericanTest" ng-repeat="a in options"
		style="border: 1px solid red;">
		<tr>
			<td>{{a.answers}}</td>
			<td>{{a.answerOption}}</td>
		</tr>
	</table>
	<table ng-show="mySwitchAmericanSystemTestQuestion">
		<tr>
			<td align="center" ng-repeat="n in answers">{{n}} &nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td align="center" ng-repeat="n in answers"><input type="radio"
				value={{n}} ng-model="answer.name"> &nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan = "4">
			<input type="submit" value="Send Answer"
				ng-show="answer.name"></td>
		</tr>
	</table>
     		<table  ng-show="mySwitchCodeTestQuestion"> 
                <tr>
                    <td><label>Answer:</label></td>
                    <td><textarea ng-model="answer.name" cols="70" rows="10"></textarea></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Send Answer" ng-show="answer.name"></td>
                </tr>
             </table>
</form>

