<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
                           http://www.springframework.org/schema/context 
      					   http://www.springframework.org/schema/context/spring-context-4.2.xsd ">

<bean id="companyService" class="org.springframework.remoting.caucho.BurlapProxyFactoryBean">
<property name="serviceUrl" value="http://${host.name.${phase}}/TestsProjectBes/company_service.service1"></property>
<property name="serviceInterface" value="tel_ran.tests.services.interfaces.ICompanyActionsService"></property>
</bean>

<bean id="personalService" class="org.springframework.remoting.caucho.BurlapProxyFactoryBean">
<property name="serviceUrl" value="http://${host.name.${phase}}/TestsProjectBes/personal_service.service2"></property>
<property name="serviceInterface" value="tel_ran.tests.services.interfaces.IPersonalActionsService"></property>
</bean>

<bean id="maintanenceService" class="org.springframework.remoting.caucho.BurlapProxyFactoryBean">
<property name="serviceUrl" value="http://${host.name.${phase}}/TestsProjectBes/maintenance_service.service3"></property>
<property name="serviceInterface" value="tel_ran.tests.services.interfaces.IMaintenanceService"></property>
</bean>

<bean id="userService" class="org.springframework.remoting.caucho.BurlapProxyFactoryBean">
<property name="serviceUrl" value="http://${host.name.${phase}}/TestsProjectBes/user_service.service4"></property>
<property name="serviceInterface" value="tel_ran.tests.services.interfaces.IUserActionService"></property>
</bean>
<!-- External Properties Support -->
<bean id="appProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
	    <property name="locations" value="classpath:tel_ran/tests/strings/application.properties" />
</bean>
<!-- <bean id="appProps" class="tel_ran.tests.strings.AppProps" scope="singleton">
	<property name="hostname" value="${host.name.${phase}}" /> 
</bean>  -->
<!-- External Properties Support END -->

</beans>