@CHARSET "ISO-8859-1";

input:HOVER {
	background-color: silver;
	color:white;
}
td:hover {
    color:black;
	background-color: white;	
}
td.border {
	border-bottom: 0.1em solid grey;	
}
tr.tableContent:HOVER{
background-color: silver;	
}

td {
	vertical-align: top;
	padding-top: 0.3em;
}

table {	
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;	
}

.center {
	margin: auto;
	width: 60%;
	padding: 10px;
}

th {
	font-size: 14px;
	color: #333;
	padding-bottom: 0.4em;
}

.displayAction{
display: none;
float: right;
margin-top: 2em;
margin-right: 5em;
} 
.resultTextTag{
visibility: hidden;
}

.imageQuest{
	width: 400px;
	height: 200px
}

div.inform{	
	margin-top: 1em;
	margin-right: 0.5em;
	text-alighn: right;
}

h3 div.inform,
p div.inform{
	text-alighn: right;
}

div.site{
	color: blue;
	text-size: 1.1em;
	margint-top: 1em;
	margin-bottom: 1em;
}

div.us_info {
	text-size: 0.9em;
}

form {    
    margin: 0 auto;
    width: 100%;  
    padding: 1em;
}

form div + div {
    margin-top: 1em;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
	vertical-align:top;
    /* To give the same size to all text field */
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
     resize: vertical;
}

h4.tableTitle {
	margin-bottom: 0.5em;
}