@CHARSET "ISO-8859-1";

/*@media screen and (max-width: 1024px) , screen and(max-device-width: 1996px) {*/


#formDiv {

	clear: both;
	float: left;
	margin-left: 100px;
	text-align: left;
	
}

#formDiv h2 {
	color:#0054a6;
	margin-bottom: 10px;
	text-align: center;
}

.longdiv1,
#longdiv {
	
	width: 600px;
	
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 420px;
    /* To see the outline of the form */
    padding: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 200px;
    text-align: left;
	color:#0054a6;
	font-weight:bold;
	text-decoration: none;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
	vertical-align:top;
    /* To give the same size to all text field */
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}

/*}*/
