

#firstRow,
#secondRow {
    position: relative;
    margin-bottom: 1em;
}

#secondRow h4 {
    font-size: 1.2em;
    color: #337ab7;
    margin-bottom: 0;
}

#firstRow {
    min-height: 150px;
    border-bottom: 1px solid #eee;
}

.buttonsMini{
    position: absolute;
    bottom: 0;
    right: 0;
}

table#buttons {
    width: 95%;
    margin: auto;
}

table#buttons td {
    padding: 1em;

}
button {
    font-size: 1.1em;
    color: #90b0e6;
    text-decoration: none;
    padding: 10px 7px;
    background-color: #f8f9ff;
    border-radius: 5%;
    cursor: pointer;
    width: 8em;
    height: 5em;
    border: 1px solid lightblue;
}

button:hover {
    background-color: #dcdde3;
}

button.actionBtn{
    width: 8em;
    height: 2.5em;
    margin: 1em 0.5em;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-appearance: button;
    overflow: visible;
    background-color: #337ab7;
    border-color: #2e6da4;
}

button.actionBtn:disabled {
    background-color: #337ab7;
    border-color: #2e6da4;
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;

}

button span {
    font-size: 0.8em;
    font-style: italic;
}

#firstRow h3 {
    text-align: center;
    font-size: 1.2em;
}

.modaleWindow {
    background-color: snow;
    margin: -0.3em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #ccc;
    text-align: left;
}

.modaleWindow h3 {
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


.topModaleForm {
    margin: -0.5em 0 1em 0.5em;
    font-size: 0.8em;
    color: #46738f;
}


table.modaleTable {
    border: 1px solid #ededed;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2em;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1em;
}

.modaleTable tr {
    background-color: snow;
}

.modaleTable tr:hover {
    background-color: #f6f6f6;
}

.modaleTable thead tr:hover {
    background-color: snow;
}

.modaleTable td {
    height: 2em;
    padding: 0.3em;
    background-color: transparent;
    border-bottom: 1px solid #ededed;
}

.modaleTable th {
    border-bottom: 2px solid #ededed;
    text-align: left;
    padding: 0.3em;
}

.rowWindow {
    /*min-height: 100px;*/
    max-height: 700px;
    font-size: 0.9em;
}
.rowButton {
    margin-top:1em;
    height: 2.5em;
    position: relative;
}

.pager label{
    font-size: 0.7em;
    padding-bottom: 0;
    color: #46738f;
}

div.lbl {
    margin: 0;
    padding: 0;
}

div.inpt {
    margin-top: -0.3em;
}

div.inpt input,
div.inpt select,
.topModaleForm input{
    padding: 3px 10px;
    line-height: 1.42857143;
    width: 8em;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.inpt select {
    padding: 5px 10px;
}
.topModaleForm input {
    width: 15em;
    margin-left: 0.5em;
}

.pager {
    margin: -1.2em 0 0 1em;
}

.pager .cell {
    margin-left: 0.5em;
}

.cell {
    float: left;
}

.cellWindow {
    display: inline-block;
}

.cellRight {
    float: right;
    color: #337ab7;
    font-size: 1.3em;
    line-height: 1.1;
    padding-bottom: 9px;
    margin: 5px 0.6em 13px;
    box-sizing: border-box;

}

.formTemplate {
    clear: both;
    padding-bottom: 8px;
}

.titleTemplate h3 {
    padding-bottom: 9px;
    margin: 5px 0 13px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.titleTemplate {
    min-height: 2em;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


table.resultTable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    border-color: grey;
}

.resultTable thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.resultTable th {
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
    font-weight: bold;
}

.resultTable td {
    height: 2em;
    padding: 0.3em;
    background-color: transparent;
    border-bottom: 1px solid #eee;
}

.resultTable tr {
    background-color: #fbfbfb;
}

.resultTable tr:hover {
    background-color: #f6f6f6;
}

td.delete-cell {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

h3.page-header {
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;

}

.cell li,
.cellWindow li{
    display: block;
    padding: 6px 12px;
    background-color: #f8f9ff;
    border-radius: 4px;
    line-height: 1.42857143;
    cursor: pointer;
    margin-bottom: 0.2em;
}

.cell li:hover,
.cellWindow li:hover{
    background-color: #dcdde3;
}

.cell ul,
.cellWindow ul{
    margin: 0 0.5em 0 0;
    padding: 0;
}

li.chosen {
    background-color: #90b0e6;
}

.form-control {
    display: block;
    width: 8em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-right: 0.5em;
}

input.form-control {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 10em;
}

.lastButtons {
    margin-top: 1em;
    height: 2.5em;
    position: relative;
}

td.Generation {
    background-color: #ecffe1;
}

td.Custom {
    background-color: #fff1d3;
}

td.SiteBase {
    background-color: #e4f8ff;
}



.pageCounter {
    font-size: 0.7em;
    color: #46738f;
    margin-top: 0.5em;
    width: 18em;
}
.pageCounter span {
    cursor: pointer;
    /*display: block;*/
    margin: 0 0.2em;

}
.curPage {
    color: #cf8e8a;
    cursor: auto;
}

#right_side {
	float: left;
	margin-left: 2em;
	padding-left: 2em;
	text-align: left;
}